
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque quia, unde animi voluptate alias itaque facilis consectetur, nobis veniam incidunt nesciunt eveniet debitis illum! Ea suscipit voluptatum et corporis cum?</p>

    <div class="col-md-2 bg-cinza-claro">

        <div class="d-flex justify-content-center p-3">
            <img src="{{foto}}" alt="foto perfil do usuario" height="200px" width="200px" class="rounded-circle">
        </div>

        <h3 class="text-center mb-5">{{nome}}</h3>
        <h5 class="text-center">Grupos criados</h5>

    </div>
