<!-- As a link -->
<nav *ngIf='auth.naoLogado()' class="navbar navbar-light bg-verde-escuro">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink='/entrar'><img src="../../assets/img/Ciclonext-preto-completo.svg" alt="Logo Ciclonext" class="logo img-fluid p-1"></a>
        
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="#sobre">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#equipe">Quem somos nós</a>
          </li>
        </ul>
  </div>
</nav>

<!-- <div class="container mt-3 ">
  <div class="row">
    <div class="col">
      <div class="maintxt text d-flex justify-content-center">
        <img src="../../assets/img/wallpaper.svg" class="img-responsive" />
      </div>
    </div>
  </div>

</div> -->
<br>

<div class="row mb-3 d-flex justify-content-center" id="sobre">
  <h1 class="text-center p-2">Sobre a Ciclonext</h1>
  <div class="text-center mx-5 px-5">
    <h3 class="p-3">A Ciclonext é uma rede social voltada para interação entre empresas, ONGs e interessados em reutilização e reaproveitamento de materiais.
      </h3>
      <p>Criado por jovens desenvolvedores do curso BootCamp da GENERATION.</p>
  </div>

</div>
<div class="align-text-top d-flex justify-content-center ms-3" >


  <div class="row">


    

<div class="col-md-6 pt-3">

  <h2 class="text-md-start">Visão</h2>
  <div class="text-md-start">
    <p class="container p-2">A rede incentiva a conexão entre entidades promovendo a doação de recursos reutilizáveis e
      a criação de laços para focar no uso e reuso sustentável de recursos.</p>
  </div>

  <h2 class="text-md-start">Missão</h2>
  <div class=" text-md-start">
    <p class="container p-2">Tem como objetivo estabelecer uma comunicação que estimula a sustentabilidade,
      comprometimento com os recursos socioambientais, e a busca de soluções para amenizar este problema, baseando-se na
      ODS 12 e na missão de 2030 da ONU.</p>
  </div>

  <h2 class="text-md-start">Valores</h2>
  <div class=" text-md-start mb-5">
    <p class="container p-2">Ser ético e agir dentro dos padrões de boa convivência, sem prejudicar o próximo;
      Preocupação com o meio ambiente, deixando um mundo melhor para nossos descendentes; Valorização e respeito às
      pessoas, são elas o grande diferencial que torna tudo possível;</p>
  </div>
</div>

<div class="col-md-5 d-flex align-content-center ms-5">
  <img src="../../assets/img/sobrenos-ilustracao.svg" alt="">
</div>

</div>

</div>
<!-- Sessão QUEM SOMOS NÓS-->

  <div class="p-5 bd-highlight mt-5 bg-verde-escuro" id="equipe">

    <h2 class="d-flex justify-content-center text-white">Quem somos nós?</h2>
    <h6 class="d-flex justify-content-center text-light">Conheça a equipe que construiu esta aplicação.</h6>
    <div class="container-fluid">
      <div class="row row-cols-10 g-4 mt-3 d-flex justify-content-center"> 
        <div class="col"> 
          <div class="card h-100 fotobg">
            <img src="../../assets/img/agda foto.png" class="rounded mx-auto d-block mt-3" alt="agda foto">
            <div class="card-body ">
              <h5 class="card-title text-center">Agda Camilla Teixeira de Paula</h5><br>
              <p class="card-text text-center">Dev Full Stack Java Junior</p>
              <div class="container d-flex justify-content-center ">
                <ul class="social-network">
                  <li>
                    <a href="https://www.linkedin.com/in/agda-camilla/" target="_blank" class="icoLinkedin">
                      <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://github.com/agdaa" target="_blank" class="icoGitHub">
                      <i class="fa fa-github-alt" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>


        <div class="col">
          <div class="card h-100 fotobg">
            <img src="../../assets/img/Bruno foto.png" class="rounded mx-auto d-block mt-3" alt="bruno foto">
            <div class="card-body">
              <h5 class="card-title text-center">Bruno Constantino Sequeira</h5>
              <p class="card-text text-center">Dev Full Stack Java Junior</p>
              <div class="container d-flex justify-content-center ">
                <ul class="social-network">
                  <li>
                    <a href="https://www.linkedin.com/in/sequeirabruno/" target="_blank" class="icoLinkedin">
                      <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://github.com/brunosequeira1" target="_blank" class="icoGitHub">
                      <i class="fa fa-github-alt" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 fotobg">
            <img src="../../assets/img/esdras foto.png" class="rounded mx-auto d-block mt-3" alt="esdras foto">
            <div class="card-body">
              <h5 class="card-title text-center">Esdras Teixeira Milagres</h5><br>
              <p class="card-text text-center">Dev Full Stack Java Junior</p>
              <div class="container d-flex justify-content-center ">
                <ul class="social-network">
                  <li>
                    <a href="https://www.linkedin.com/in/esdras-teixeira-milagres-b656531b5/" target="_blank" class="icoLinkedin">
                      <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://github.com/Esdrashx" target="_blank" class="icoGitHub">
                      <i class="fa fa-github-alt" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 fotobg">
            <img src="../../assets/img/Jamily foto.png" class="rounded mx-auto d-block mt-3" alt="jamily foto">
            <div class="card-body">
              <h5 class="card-title text-center">Jamily Melo Rodrigues</h5><br>
              <p class="card-text text-center">Dev Full Stack Java Junior</p>
              <div class="container d-flex justify-content-center ">
                <ul class="social-network">
                  <li>
                    <a href="https://www.linkedin.com/in/jamily-melo/" target="_blank" class="icoLinkedin">
                      <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://github.com/JamilyM" target="_blank" class="icoGitHub">
                      <i class="fa fa-github-alt" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 fotobg">
            <img src="../../assets/img/joel foto.png" class="rounded mx-auto d-block mt-3" alt="joel foto">
            <div class="card-body">
              <h5 class="card-title text-center">Joel Roberto Ferreira Junior</h5><br>
              <p class="card-text text-center">Dev Full Stack Java Junior</p>
              <div class="container d-flex justify-content-center ">
                <ul class="social-network">
                  <li>
                    <a href="https://www.linkedin.com/in/joelrfjunior/" target="_blank" class="icoLinkedin">
                      <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://github.com/JoelRFJunior" target="_blank" class="icoGitHub">
                      <i class="fa fa-github-alt" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col ">
          <div class="card h-100 fotobg">
            <img src="../../assets/img/wendew foto.png" class="rounded mx-auto d-block mt-3" alt="wendew foto">
            <div class="card-body">
              <h5 class="card-title text-center">Wendew Luiz Franco Campos</h5><br>
              <p class="card-text text-center">Dev Full Stack Java Junior</p>
              <div class="container d-flex justify-content-center ">
                <ul class="social-network">
                  <li>
                    <a href="https://www.linkedin.com/in/wendewluiz/" target="_blank" class="icoLinkedin">
                      <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://github.com/wendewfranco" target="_blank" class="icoGitHub">
                      <i class="fa fa-github-alt" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>