<!-- As a link -->
<nav class="navbar navbar-light" style="background-color:#69D8D8">
    <div class="container-fluid">
      <a class="navbar-brand" href="/entrar"><img src="https://imgur.com/PJ5E37b.jpg" height="80px" width="80px" alt=""></a>
    </div>
  </nav>
  
  
  <div class="container-fluid mt-3 ">
    <div class="row">
        <div class="">
            <div class="maintxt text d-flex justify-content-center">
                <img src="../../assets/img/wallpaper.svg" class="img-responsive" /> 
               
               
                
            </div>


            
        </div>

        
    </div>
    
</div>
<br><br><br><br>
<div class=" align-text-top">
                  
  <h1 class="display-2 text-center p-2">Sobre a Ciclonext</h1>
  <div class=" text-center">
    <p class="p-3">A Ciclonext é uma rede social voltada para interação entre empresas, ONGs e interessados, criado por jovens desenvolvedores do curso BootCamp da GENERATION.</p>
  </div>

  <p class="display-4 text-center text-decoration-underline">Visão</p>
  <div class=" text-center">
    <p class="container p-2">A rede incentiva a conexão entre entidades promovendo a doação de recursos reutilizáveis e a criação de laços para focar no uso e reuso sustentável de recursos.</p>
  </div>

  <p class="display-4 text-center text-decoration-underline">Missão</p>
  <div class=" text-center">
    <p class="container p-2">Tem como objetivo estabelecer uma comunicação que estimula a sustentabilidade, comprometimento com os recursos socioambientais, e a busca de soluções para amenizar este problema, baseando-se na ODS 12 e na missão de 2030 da ONU.</p>
  </div>

  <p class="display-4 text-center text-decoration-underline">Valores</p>
  <div class=" text-center mb-5">
    <p class="container p-2">Ser ético e agir dentro dos padrões de boa convivência, sem prejudicar o próximo; Preocupação com o meio ambiente, deixando um mundo melhor para nossos descendentes; Valorização e respeito às pessoas, são elas o grande diferencial que torna tudo possível;</p>
  </div>

  <div class="p-5 bd-highlight mt-5" style="background-color: #69D8D8;">
    
  <h1 class="d-flex justify-content-center">Quem somos nós?</h1>
  <div class="container">
  <div class=" row row-cols-1 row-cols-md-6 g-4 mt-5">
    <div class="col">
      <div class="card h-100 fotobg">
        <img src="../../assets/img/agda foto.png" class="rounded mx-auto d-block mt-3" alt="agda foto">
        <div class="card-body ">
          <h5 class="card-title text-center">Agda Camilla Teixeira de Paula</h5>
          <p class="card-text text-center">Dev Full Stack Java Junior</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 fotobg">
        <img src="../../assets/img/Bruno foto.png" class="rounded mx-auto d-block mt-3" alt="bruno foto">
        <div class="card-body">
          <h5 class="card-title text-center">Bruno Constantino Sequeira</h5>
          <p class="card-text text-center">Dev Full Stack Java Junior</p>  
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 fotobg">
        <img src="../../assets/img/esdras foto.png" class="rounded mx-auto d-block mt-3" alt="esdras foto">
        <div class="card-body">
          <h5 class="card-title text-center">Esdras Teixeira Milagres</h5><br>
          <p class="card-text text-center">Dev Full Stack Java Junior</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 fotobg">
        <img src="../../assets/img/Jamily foto.png" class="rounded mx-auto d-block mt-3" alt="jamily foto">
        <div class="card-body">
          <h5 class="card-title text-center">Jamily Melo Rodrigues</h5><br>
          <p class="card-text text-center">Dev Full Stack Java Junior</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 fotobg">
        <img src="../../assets/img/joel foto.png" class="rounded mx-auto d-block mt-3" alt="joel foto">
        <div class="card-body">
          <h5 class="card-title text-center">Joel Roberto Ferreira Junior</h5><br>
          <p class="card-text text-center">Dev Full Stack Java Junior</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 fotobg">
        <img src="../../assets/img/wendew foto.png" class="rounded mx-auto d-block mt-3" alt="wendew foto">
        <div class="card-body">
          <h5 class="card-title text-center">Wendew Luiz Franco Campos</h5><br>
          <p class="card-text text-center">Dev Full Stack Java Junior</p>
        </div>
      </div>
    </div>

  </div>
  
</div>

</div>

</div>

<app-rodape></app-rodape>


  