.bg-color-voltar{
    background-color: #E59347;
    color: white;
    border-radius: 40px;
    
}

.bg-color-atualizar{
    background-color: #34878B;
    color: white;
    border-radius: 40px;
}

.fs-edit{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

}

.temporizadorCadastrar:hover{
    color: black;
    background-color: #69D8D8;
    transition-duration: 1s;
    
}
.temporizadorCancelar:hover{
    color: black;
    background-color: #F1EB8D;
    transition-duration: 1s;
}

.sizefoto {
    max-width: 250px;
    max-height: 250px;
    min-width: 250px;
    min-height: 250px;
    object-fit: cover;

    display: block;
    
}

