<div class="container mt-5 mb-5">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-secondary">Atualizar postagem</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-6">

              <div class="form-group mt-3">
                <label for="corpo">Escreva abaixo sua postagem:</label>
                <textarea [(ngModel)]='postagem.corpo' class="form-control" name="corpo" id="corpo" rows="3"></textarea>
              </div>

              <div class="form-group mt-3">
                <label for="urlImagemVideo">Url da Imagem</label>
                <input [(ngModel)]='postagem.urlImagemVideo' class="form-control" name="urlImagemVideo" id="urlImagemVideo" rows="3">
              </div>
              <img src="{{postagem.urlImagemVideo}}" alt="" class="img-front mt-3">
              <div class="form-group mt-3 mb-3">
                <label for="tipoDaPostagem">Altere o tipo de postagem</label>
                <select class="form-control" name="tipoDaPostagem" id="tipoDaPostagem" (change)='tipoDaPostagem($event)'>
                    <option>Selecione um tipo de mensagem</option>
                    <option value="TEXTO">Texto</option>
                    <option value="DOACAO">Doação</option>
                    <option value="AGRADECIMENTO">Agradecimento</option>
                    <option value="OUTROS">Outros</option>
                </select>
            </div>

              <div class="d-flex justify-content-center">
                <button class="btn fw-bold bg-color-cancelar me-2 temporizadorNo my-3" routerLink='/postagem'>Cancelar</button>
                <button class="btn fw-bold bg-color-publicar ms-2 temporizadorOk my-3" (click)='atualizar()'>Atualizar</button>
               
              </div>

        </div>

    </div>

</div>
