body {
    background-color: #eeeeee;
}

.bg-color-cancelar{
    background-color: #E59347;
    color: white;
    border-radius: 25px;
    
}

.bg-color-publicar{
    background-color: #34878B;
    color: white;
    border-radius: 25px;
}

.max-width-height-numero{
    /* max-width: 250px;  */
     max-height: 500px;  
    display: block;
    width: 100%;
    object-fit: scale-down;
}

.bg-color-editarDados{
    background-color: #414F72;
    color: white;
    border-radius: 30px;
}


.temporizadorEditarDados:hover{
    color: black;
    background-color: #5dc0ee;
    transition-duration: 1s;
}

.fotoPerfil{
	object-fit: cover;
	display: flex;
	height: 100px;
	width: 100px;
}
.fotoPubli{
	object-fit: cover;
	display: flex;
}


.select{
	width: 230px;
    
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

.dropdown-toggle::after {
    content: none;
    display: none;
}

.max-width-height-numero{
	size: 600px;
    display: flex;
    width: 100%;
	object-fit: cover;
    
}

.img-front{
    max-height: 300px;  
    display: block;
    width: 100%;
    object-fit: scale-down;
}