<div class="container-fluid">
    <div class="row justify-content-md-center">



        <div class="col-md-2 bg-cinza-claro">


            <div class="d-flex justify-content-center p-3">
                <img src="{{foto}}" alt="foto perfil do usuario" class="rounded-circle fotoPerfil">
            </div>

            <h3 class="text-center mb-5">{{nome}}</h3>

        </div>

        <div class="col-md-8 mt-2">


            <div class="row d-flex justify-content-center">
                <div class="col-md-6 d-flex justify-content-center">

                    <div class="d-flex justify-content-center">
                        <img src="https://i.imgur.com/se62aUR.png" alt="imagem perfil" height="500px" width="500px"
                            class="rounded mx-auto d-block">
                    </div>

                </div>
                <div class="col-md-6 d-flex justify-content-start align-items-center">

                    <form class="w-75 justify-content-start">
                        <fieldset disabled>

                            <div class="form-group mb-3">
                                <div class="mb-2" for="nome">Nome</div>
                                <input class="disabledTextInput form-control w-100" type="text" name="nome.teste"
                                    id="nome.teste" placeholder="{{nome}}">
                            </div>

                            <div class=" mb-3">
                                <label class="mb-2" for="email">Email</label>
                                <input class="disabledTextInput form-control" type="text" name="email.teste"
                                    id="email.teste" placeholder="{{user.email}}">
                            </div>


                            <div class=" mb-3">
                                <label class="mb-2" for="categoria">Tipo de Usuário</label>
                                <input class="disabledTextInput form-control" type="text" name="categoria"
                                    id="categoria" placeholder="{{user.categoria}}">

                            </div>

                        </fieldset>
                        <div class="d-flex justify-content-end">
                            <a><button class="btn bg-color-editarDados temporizadorEditarDados fw-bold p-3 mb-3 "
                                    [routerLink]="['/user-edit', idUser]">Editar meus Dados</button></a>
                        </div>
                    </form>

                    <!-- <h3 class="text-center mb-5">{{nome}}</h3> -->

                </div>

            </div>



            <div class="container px-lg-5" style="background-color: #ffffff; padding-right: 1500px;">
                <!-- <div class="form-group justify-content-end mb-3">

                    <div class="d-flex justify-content-end">
                        <select class="form-select select" name="filtroPostagem" id="filtroPostagem"
                            (change)='tipoDeFiltro($event)'>
                            <option value="">Filtrar tipo de postagens</option>
                            <option value="TEXTO">Texto</option>
                            <option value="DOACAO">Doação</option>
                            <option value="AGRADECIMENTO">Agradecimento</option>
                            <option value="OUTROS">Outros</option>
                        </select>
                    </div>
                </div> -->


                <!--- \\\\\\\Post-->
                <div class="card gedf-card" style="background-color: #f8f8f8;" *ngFor='let post of user.publicacoes | orderBy : key : reverse'>
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-5 d-flex justify-content-start">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="me-2 ">
                                            <img class="rounded-circle fotoPubli " width="60" height="60"
                                                src='{{post.autor.urlImagemPerfil}}' alt="">
                                        </div>
                                        <div class="ms-2">
                                            <!-- <div class="h5 m-0">{{post.autor.nome}}</div> -->
                                            <div class="h7 text-muted">{{post.tipoPostagem}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">

                            </div>

                            <!-- <div *ngIf='post.grupo!=null' class="col-md-1 d-flex justify-content-center">

                                <div class="d-flex justify-content-center">
                                    <div class="">
                                        <div class="">

                                            <img class="mt-3 rounded-circle fotoPublic" width="60" height="60"
                                                src='{{post.grupo.urlImagemGrupo}}' alt="AAA">
                                        </div>
                                        <div class="">
                                            <div class="h7 m-0 mt-2 text-muted text-center">{{post.grupo.nomeGrupo}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div> -->

                            <div class="col-md-2 d-flex justify-content-center">

                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn" [routerLink]="['/postagem-edit', post.idPostagem]"
                                        href="#"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                    <button type="button" class="btn"
                                        [routerLink]="['/postagem-delete', post.idPostagem]" href="#"><i
                                            class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>






                        <div class="card-body">
                            <div class="text-muted h7"> <i class="fa fa-clock-o"></i>{{post.data | date:
                                'dd/MM/yyyy'}}
                                às {{post.data | date: 'HH:mm'}}</div>

                            <img src="{{post.urlImagemVideo}}" alt=""
                            decoding="auto"
                            class="max-width-height-numero mt-2">


                            <p class="card-text mt-3">{{post.corpo}}</p>
                        </div>


                    </div>
                    <!-- Post /////-->
                </div>

            </div>
        </div>

        <div class="col-md-2 bg-cinza-claro">

            <!-- <div class="container mt-5"> -->

            <!-- <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Mensagens Privadas</div>
                        <div class="card-body">
                            <span
                                class="position-absolute top-0 start-100 translate-middle p-lg-2 bg-danger border border-light rounded-circle">
                                <span class="visually-hidden">New alerts</span>
                            </span>
                            <h5 class="card-title">Bruno</h5>
                            <p class="card-text">Não briga com o Joel Jamily!!!!!</p>
                        </div>
                    </div> -->


            <!-- </div> -->

        </div>

    </div>
</div>