<div class="container-fluid">
    <div class="row justify-content-md-center">
        
       <div class="col-md-2 bg-cinza-claro">

            <div class="d-flex justify-content-center p-3">
                <img src="{{foto}}" alt="foto perfil do usuario" height="200px" width="200px" class="rounded-circle">
            </div>

            <h3 class="text-center mb-5">{{nome}}</h3>
            <h5 class="text-center">Grupos criados</h5>

        </div> 

        <div class="col-md-8 mt-5">
            
            <div class="form-group mb-3 px-lg-5">
                
                <label for="urlImagem">URLImagem</label>
                <input  class="form-control" type="text" name="urlImagem" id="urlImagem"
                    placeholder="Insira o link da sua foto" [(ngModel)]='postagem.urlImagemVideo'>
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="textoDaMensagem"
                    [(ngModel)]='postagem.corpo'></textarea>
                <label for="textoDaMensagem">Escreva aqui..</label>
            </div>
            <!--<div class="COLOCAR A IMAGEM AQUI"></div>-->

            <div class="d-grid gap-2 d-md-flex justify-content-md-end p-3">
                <div class="form-group mb-3">
                    <label for="tipoDaPostagem">Tipo de postagem</label>
                    <select class="form-control" name="tipoDaPostagem" id="tipoDaPostagem" (change)='tipoDaPostagem($event)'>
                        <option>Selecione um tipo de mensagem</option>
                        <option value="TEXTO">Texto</option>
                        <option value="DOACAO">Doação</option>
                        <option value="AGRADECIMENTO">Agradecimento</option>
                        <option value="OUTROS">Outros</option>
                    </select>
                </div>
                <button class="btn fw-bold bg-color-cancelar my-3" type="submit"
                (click)='cancelarPost()'>cancelar</button>

            <button class="btn fw-bold bg-color-publicar my-3" type="submit"
                (click)='postarNoFeed()'>Publicar</button>
            </div>
            <img src="{{postagem.urlImagemVideo}}" alt="" class="img-front">
            <div class="container" style="background-color: #E8E8E8;">
                <div class="form-group mb-3 px-lg-5">
                    <select class="form-select" name="tipoPostagem" id="tipoPostagem">
                        <option>Filtrar tipo de postagens</option>
                        <option value="TEXTO">Texto</option>
                        <option value="DOACAO">Doação</option>
                        <option value="AGRADECIMENTO">Agradecimento</option>
                        <option value="OUTROS">Outros</option>
                    </select>
                </div>

                <!--- \\\\\\\Post-->
                <div class="card gedf-card" *ngFor='let post of listaPostagens'>
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center ">
                                <div class="me-2 ">
                                    <img class="rounded-circle " width="60" height="60" src= '{{post.autor.urlImagemPerfil}}' alt="">
                                </div>
                                <div class="ms-2">
                                    <div class="h5 m-0 text-end">{{post.autor.nome}}</div>
                                    <div class="h7 text-muted">{{post.tipoPostagem}}</div>
                                </div>
                            </div>
                            <div>

                         
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{post.data | date: 'dd/MM/yyyy'}} às {{post.data | date: 'HH:mm'}}</div>
                       
                            <img src="{{post.urlImagemVideo}}" alt="" class="max-width-height-numero d-flex justify-content-center">
                       

                        <p class="card-text">{{post.corpo}}</p>
                    </div>
                </div>

                
                <!-- Post /////-->



            </div>

        </div>



        <div class="col-md-2 bg-cinza-claro">

            <div class="container mt-5">

                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Mensagens Privadas</div>
                    <div class="card-body">
                        <span
                            class="position-absolute top-0 start-100 translate-middle p-lg-2 bg-danger border border-light rounded-circle">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                        <h5 class="card-title">Bruno</h5>
                        <p class="card-text">Não briga com o Joel Jamily!!!!!</p>
                    </div>
                </div>


            </div>

        </div>

    </div>
<!-- </div> -->