<div class="container mb-5 mt-5 ">

    <div class="row mb-5">
        <div class="col-md-12">
            <h1 class="text-center text-secondary">Apagar postagem</h1>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <h4 class="text-center text-secondary">Você tem certeza que deseja apagar esta postagem?</h4>
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-5">

        <div class="col-md-8">

            <div class="card text-center mb-3">

                <div class="card-body">
                    <!-- <h5 class="card-title m-0">{{postagem.titulo}}</h5>
                    <p class="card-text mt-3">{{postagem.texto}}</p> -->
                   <!-- <small class="text-muted">Tema:{{postagem.tema.descricao}}</small> -->
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{postagem.data | date: 'dd/MM/yyyy'}} às {{postagem.data | date:'HH:mm'}}</small>
                </div>

            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-danger me-4" routerLink='/postagem'>Não</button>
            <button class="btn btn-success" (click)='apagar()'>Sim</button>
        </div>
    </div>

</div>


